<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org"
>
<head th:replace="generique :: head"></head>

<body>
<header th:replace="generique :: nav"></header>
<div class="container">
    <H3 class="monTitre">Nouvelle longueur</H3>

<form action="#" th:action="@{/ajouterlongueur/{voieid}(voieid=${voieid})}" th:object="${longueur}" method="post">

    <div class="form-group">
        <label for="nomLongueur">Nom</label>
        <input placeholder="Nom de la longueur" th:field="*{nomLongueur}" type="text">
        <span class="text-danger" th:errors="*{nomLongueur}" th:if="${#fields.hasErrors('nomLongueur')}"></span>
    </div>
    <div class="form-group">
        <label for="cotationLongueur">Cotation</label>
        <input placeholder="Cotation" th:field="*{cotationLongueur}" type="text">
        <span class="text-danger" th:errors="*{cotationLongueur}" th:if="${#fields.hasErrors('cotationLongueur')}"></span>
    </div>
    <div class="form-group">
        <label for="nbPointsLongueur">Nombre de points</label>
        <input placeholder="nombre de points" th:field="*{nbPointsLongueur}" type="number">
        <span class="text-danger" th:errors="*{nbPointsLongueur}" th:if="${#fields.hasErrors('nbPointsLongueur')}"></span>
    </div>
    <input type="submit" value="Ajouter">
</form>

</div>

<hr>

<footer th:replace="generique :: footer"></footer>

</body>
</html>





