<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="generique :: head"></head>

<body>
<header th:replace="generique :: nav"></header>

<div class="container">
    <H1 class="monTitre">Ajouter un topo</H1>
        <form action="#" th:action="@{/ajoutertopo}" th:object="${topo}" method="post">
            <form:errors path = "*" cssClass = "errorblock" element = "div" />
            <label for="nomTopo">Nom</label>
            <input type="text" th:field="*{nomTopo}" id="nomTopo" placeholder="nomTopo">
            <!--<span th:if="${#fields.hasErrors('nomtopo')}" th:errors="*{nomTopo }"></span>-->
            <label for="descritpionTopo">Description</label>
            <input type="text" th:field="*{descritpionTopo}" id="descritpionTopo" placeholder="descritpionTopo">
            <!--<span th:if="${#fields.hasErrors('descritpionTopo')}" th:errors="*{descritpionTopo}"></span>-->
            <label for="dateParution">Date parution</label>
            <input type="date" th:field="*{dateParution}" id="dateParution" placeholder="dateParution">
            <!--<span th:if="${#fields.hasErrors('dateParution')}" th:errors="*{dateParution}"></span>-->
            <label for="disponible">Disponibilité</label>
            <input type="checkbox" th:field="*{disponible}" id="disponible" placeholder="disponible">



            <label for="region">Région</label>
            <select th:field="*{region}" id="region">
                <option th:each="region : ${regions}" th:value="${region.regionId}" th:text="${region.nomRegion}")>Alpes </option>
            </select>

            <!--        <label for="region">Région</label>-->
            <!--        <select th:field="*{region}">-->
            <!--            <option disabled>Choisissez une région...</option>-->
            <!--            <option th:each="region : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}" th:selected="${region.regionId==Topo.}")>Banana </option>-->
            <!--        </select>-->

<!--            <input type="text" th:field="*{region}" id="region" placeholder="region" th:value="*{region.regionId}">-->
<!--            <label for="utilisateur">Région</label>-->
<!--            <input type="text" th:field="*{utilisateur}" id="utilisateur" placeholder="menbre" th:value="*{utilisateur.pseudo}">-->
            <input type="hidden" th:field="*{utilisateur.id}" th:value="2" name="idUtilisateur"/>
            <div th:if="${#fields.hasErrors('*')}">errors</div>

            <input type="submit" value="Valider">
        </form>

</div>

<hr>

<footer th:replace="generique :: footer"></footer>

<!-- Respecter l'ordre des scripts ; jQuery first, then Popper.js, then Bootstrap JS, puis notre propre script.js -->
<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js/"></script>
<script type="text/javascript" src="webjars/popper.js/1.14.3/popper.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>