<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org"
>
<head th:replace="generique :: head"></head>

<body>
<header th:replace="generique :: nav"></header>
<div class="container">
    <H3 class="monTitre">Nouvelle voie</H3>

    <form action="#" th:action="@{/ajoutervoie/{secteurid}(secteurid=${secteurid})}" th:object="${voie}" method="post">
        <div class="form-group">
            <label for="nomVoie">Nom</label>
            <input type="text" th:field="*{nomVoie}" placeholder="Nom de la voie">
            <span class="text-danger" th:errors="*{nomVoie}" th:if="${#fields.hasErrors('nomVoie')}"></span>
            <label for="cotationVoie">Cotation</label>
            <input type="text" th:field="*{cotationVoie}" placeholder="cotation">
            <span class="text-danger" th:errors="*{cotationVoie}" th:if="${#fields.hasErrors('cotationVoie')}"></span>
            <label for="nbPointsVoie">Nom</label>
            <input type="text" th:field="*{nbPointsVoie}" placeholder="Nombre de points">
            <span class="text-danger" th:errors="*{nbPointsVoie}" th:if="${#fields.hasErrors('nbPointsVoie')}"></span>
            <input type="hidden" th:value="${secteurid}" name="secteurid"/>
        </div>
        <input type="submit" value="Ajouter">
    </form>

</div>

<footer th:replace="generique :: footer"></footer>

</body>
</html>