<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topo</title>
    <meta name="description" content="Site officiel des Amis de l'Escalade">
    <meta name="keywords" content="escalade, topo, grimpeur">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<body>
<header th:insert="generique.html :: nav"></header>
<H1 class="monTitre">Page d'ERREUR</H1>

<div class="container">
    <p>début de paragraphe</p>
    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">-->
        <!--<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>-->
    <!--</div>-->
    <!---->

    <h1 th:text="${errorCode}"></h1>
    <p th:utext="${errorMessage}"></p>
    Current time is <span th:text="${serverTime}" />


    <h2 th:text="${status + ' ' + error}"></h2>
    <!--<ul>-->
        <!--<li th:each="err : ${#fields.errors('*')}" th:utext="${err}" />-->
    <!--</ul>-->

    <!--<ul>-->
        <!--<li th:errors="*{id}">aa</li>-->
        <!--<li th:errors="*{name}">bb</li>-->
    <!--</ul>-->

    <table>
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"/>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"/>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"/>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"/>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"/>
        </tr>
        <tr>
            <td>Trace</td>
            <td>
                <pre th:text="${trace}"/>
            </td>
        </tr>
    </table>

    <a href="/" th:href="@{/signup}">Retour à la page d'authentification</a>
    <p>Fin de paragraphe</p>

</div>

<hr />

<footer th:insert="generique.html :: footer"></footer>

<!-- Respecter l'ordre des scripts ; jQuery first, then Popper.js, then Bootstrap JS, puis notre propre script.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>