<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head th:replace="generique :: head"></head>

<body>
<header th:replace="generique :: nav"></header>


<div class="container">
    <H3 class="monTitre">Page d'ERREUR</H3>
    <h4 th:text="${errorCode}"></h4>
    <p th:utext="${errorMessage}"></p>

    <h2 th:text="${status + ' ' + error}"></h2>

<!--    <table class="table table-striped">-->
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"/>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"/>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"/>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"/>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"/>
        </tr>
        <tr>
            <td>Trace</td>
            <td>
                <pre th:text="${trace}"/>
            </td>
        </tr>
<!--    </table>-->

    <a href="/" th:href="@{/signup}">Retour à la page d'authentification</a>

</div>

<hr />

<footer th:replace="generique :: footer"></footer>

</body>
</html>