<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="fr">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Escalade</title>
    <meta name="description" content="Site officiel des Amis de l'Escalade">
    <meta name="keywords" content="escalade, topo, grimpeur">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon"   th:href="@{/img/montagne-sm.png}" />

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<!-- Bootstrap CSS - A mettre en premier -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" href="../static/css/main.css">

<body>
<header >
    <nav th:fragment="nav" class="navbar navbar-expand-md navbar-light bg-light">
        <!--navbar-expand-lg = étend la navbar sur ecran medium, *navbar-light = police gris clair, bg-light= fond gris clair-->
        <a class="navbar-brand" href="/test/1">    <!-- navbar-brand pour le logo/titre de la barre de navigation-->
            <img src="../static/img/montagne-sm.png" th:src="@{/img/montagne-sm.png}"  width="60" height="35" class="d-inline-block align-top" alt="Logo Escalade">
            <strong>Les Amis de l'Escalade</strong>
        </a>
        <!--Balise button : bouton qui permet de basculer sur la balise ciblée par data-target  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>  <!--icone Hamburger-->
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!--collapse navbar-collapse permet d'avoir un affichage en ligne-->
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="/index"><i class="fas fa-home"></i> Accueil</a>
                    <!-- fas pour FontAwesome Solide (dessin plein, les autres sont payants) -->
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuSite" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-images"></i> Sites
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuSite">
                        <a class="dropdown-item" href="/listesites">Consulter</a>
                        <a class="dropdown-item" href="/site">Ajouter</a>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuTopo" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-book"></i> Topos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuTopo">
                        <a class="dropdown-item" href="/listetopos/utilisateur">Mes Topos</a>
                        <a class="dropdown-item" href="/listetopos">Tous les Topos</a>
                        <a class="dropdown-item" href="/formulairetopo">Ajouter un Topo</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"><i class="fas fa-question-circle"></i> Autres (désactivé)</a>
                    <!-- disabled = grisé et non activable -->
                </li>
            </ul>
            <ul sec:authorize="!isAuthenticated()" class="navbar-nav ml-auto">     <!--ml-auto = margin-left:auto qui cale une marge max à gauche-->
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fas fa-user-check"></i> Connexion</a>
                </li>
            </ul>
            <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">     <!--ml-auto = margin-left:auto qui cale une marge max à gauche-->
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> déconnexion</a>
                </li>
            </ul>

        </div>
    </nav>


</header>



<footer th:fragment="footer" class="page-footer bg-light pt-3 pb-3">
    <div class="footer-copyright text-center">&copy; 2019 Copyright - Les Amis de l'Escalade</div>
</footer>

<!-- Respecter l'ordre des scripts ; jQuery first, then Popper.js, then Bootstrap JS, puis notre propre script.js -->
<!--todo tenter un INCLUDE des fichier script -->
<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js/"></script>
<script type="text/javascript" src="/webjars/popper.js/1.14.3/popper.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
-->
</body>
</html>