<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="generique :: head"></head>

<body>
<header th:insert="generique.html :: nav"></header>

<div class="container">

    <P sec:authorize="isAnonymous()">Utilisateur anonyme</P>
    <P sec:authorize="isAuthenticated()" >Utilisateur authentifié</P>
    <P sec:authorize="hasAuthority('user')" >profil user</P>
    <P sec:authorize="hasAuthority('admin')" >profil admin</P>
    <P sec:authorize="hasRole('user')" >Role user</P>
    <P sec:authorize="hasRole('admin')" >Role admin</P>

    <H2 class="monTitre">Bienvenue </H2>

    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://placehold.it/1200x600" th:src="@{/img/carrousel1.jpg}" class="d-block w-100" alt="...">
                    <!--<img src="http://lorempixel.com/1200/600/abstract/3" class="d-block w-100" alt="photo carrousel 1">-->
                    <div class="carousel-caption d-none d-md-block">
                        <h5>L'aventure</h5>
                        <P>Rejoignez une association de passionnés</P>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="http://placehold.it/1200x600" th:src="@{/img/carrousel2.jpg}" class="d-block w-100" alt="photo carrousel 2">
                    <!--<img src="http://lorempixel.com/1200/800/abstract/2" class="d-block w-100" alt="photo carrousel 2">-->
                    <div class="carousel-caption d-none d-md-block">
                        <h5>L'entraide</h5>
                        <P>Partagez vos bons plans, vos topos</P>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="http://placehold.it/1200x600" th:src="@{/img/carrousel3.jpg}" class="d-block w-100" alt="photo carrousel 3">
                    <!--<img src="http://lorempixel.com/1200/800/abstract/1" class="d-block w-100" alt="photo carrousel 3">-->
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Les contacts</h5>
                        <P>Rencontrez des grimpeurs de la France entière</P>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <br/>

    <div class="row justify-content-around">
        <div>
            <a href="/listesites"><img src="http://placehold.it/200x200" th:src="@{/img/montagne.png}" alt="site" class="rounded-circle largeur-tiers"> </a>
            <!-- rounded-circle = image ronde -->
            <P class="text-center largeur-tiers">Decouvrez les plus beaux sites</P>
        </div>
        <div>
            <a href="/listetopos"><img src="http://placehold.it/200x200" th:src="@{/img/topo.png}" alt="topo" class="rounded-circle largeur-tiers"> </a>
            <P class="text-center largeur-tiers">Echangez vos topos</P>
            <!--<a href="#"><img src="http://lorempixel.com/200/200/cats/3" alt="chat3" class="rounded-circle">  </a>-->
        </div>
        <div>
            <a href="/listesites"><img src="http://placehold.it/200x200" th:src="@{/img/partage.png}" alt="experience" class="rounded-circle largeur-tiers"> </a>
            <P class="text-center largeur-tiers">Partager votre expérience</P>
        </div>
    </div>

</div>

<footer th:insert="generique.html :: footer"></footer>

</body>
</html>