<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="generique :: head"></head>

<body>
<header th:replace="generique :: nav"></header>

<div class="container">
    <h3 sec:authorize="isAuthenticated()" class="my-3 monTitre">Mes Topos</h3>

    <div class="container my-2">
        <div class="row">
            <div th:switch="${#lists.size(topos)}">
                <h4 th:case=0>Aucun topo !</h4>
                <div th:case="*">
                    <div class="table-responsive-md">
                        <table class="table table-striped ">
                            <thead>
                            <tr>
                                <th scope="col">Topo (<span th:text="${#lists.size(topos)}"></span>)</th>
                                <th scope="col">Description</th>
                                <th scope="col">Parution</th>
                                <th scope="col">Région</th>
                                <th scope="col">Membre</th>
                                <th scope="col">disponible</th>
                                <th scope="col">Emprunteur</th>
                                <th scope="col"> </th>
                                <th scope="col"> </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr scope="row" th:each="topo : ${topos}">
                                <td th:text="${topo.nomTopo}"></td>
                                <td th:text="${topo.descriptionTopo}"></td>
                                <td th:text="${topo.dateParution}"></td>  <!--<p th:utext="${#calendars.format(topo.dateParution, 'dd MM yyyy')}"></p>-->
                                <td th:text="${topo.region.nomRegion}"></td>
                                <td th:text="${topo.utilisateur.pseudo}"></td>
                                <td th:class="${topo.disponible}? 'text-success' : 'text-danger'" th:utext="${topo.disponible}? 'Oui' : 'Non'"></td>




                                <td th:utext="${topo.emprunteur != null}? ${topo.emprunteur.pseudo} : ''"></td>




                                <td><a class="btn btn-primary" th:href="@{/majtopo/{id}(id=${topo.topoId})}" sec:authorize="hasAuthority('user')"><i class="fas fa-pencil-alt "></i></a></td>
                                <td><a class="btn btn-primary" th:href="@{/supprimertopo/{id}(id=${topo.topoId})}" sec:authorize="hasAuthority('user')"><i class="far fa-trash-alt"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a class="btn btn-primary" href="/login" role="button" sec:authorize="isAnonymous()">s'identifier <i class="fas fa-user-check ml-2"></i></a>
                <a class="mx-3 btn btn-primary" href="/formulairetopo" role="button" sec:authorize="hasAuthority('user')">Ajouter Topo <i class="far fa-plus-square ml-2"></i></a>
                <BR>

            </div>
        </div>
    </div>

</div>
<br/>

<footer th:replace="generique :: footer"></footer>

</body>
</html>