<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head th:replace="generique :: head"></head>

<body>
<header th:replace="generique :: nav"></header>

<div class="container">
    <H3 class="monTitre">Mettre à jour un topo. </H3>
    <form action="#" th:action="@{/sauvertopo/{id}(id=${topo.topoId})}" th:object="${topo}" method="post">
        <!--<div class="form-group" >-->
            <label for="nomTopo">Nom</label>
            <input type="text" th:field="*{nomTopo}" id="nomTopo" placeholder="nomTopo" th:value="*{descriptionTopo}">
            <span class="text-danger" th:if="${#fields.hasErrors('nomTopo')}" th:errors="*{nomTopo }"></span>
            <label for="descriptionTopo">Description</label>
            <input type="text" th:field="*{descriptionTopo}" id="descriptionTopo" placeholder="descriptionTopo">
            <span class="text-danger" th:if="${#fields.hasErrors('descriptionTopo')}" th:errors="*{descriptionTopo}"></span>
            <label for="dateParution">Date parution</label>
            <input type="date" th:field="*{dateParution}" id="dateParution" placeholder="dateParution">
            <span class="text-danger" th:if="${#fields.hasErrors('dateParution')}" th:errors="*{dateParution}"></span>
            <label for="disponible">Disponibilité</label>
            <select th:field="*{disponible}" id="disponible" placeholder="disponibilité">
                <option value="D">Disponible</option>
                <option value="I">Indisponible</option>
                <option value="R">Réservation démandée</option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('disponible')}" th:errors="*{disponible}"></span>

            <label for="region">Région</label>
            <select th:field="*{region}" id="region">
                <option th:each="region : ${regions}" th:value="${region.regionId}" th:text="${region.nomRegion}")>Alpes </option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></span>

            <input type="hidden" th:field="*{utilisateur}" id="utilisateur" th:value="*{utilisateur.pseudo}">

            <input type="submit" value="Valider">
       <!-- </div>-->
    </form>

</div>
<br/>

<footer th:replace="generique :: footer"></footer>

</body>
</html>