<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org"
>
<head th:replace="generique :: head"></head>

<body>
<header th:replace="generique :: nav"></header>
<div class="container">
    <H3 class="monTitre">Modification de voie</H3>

    <form action="#" th:action="@{/modifiervoie/{voieid}(voieid=${voie.voieid})}" th:object="${voie}" method="post">
        <div class="form-group">
            <label for="nomVoie">Nom</label>
            <input type="text" th:field="*{nomVoie}">
            <span class="text-danger" th:errors="*{nomVoie}" th:if="${#fields.hasErrors('nomVoie')}"></span>
            <label for="cotationVoie">Cotation</label>
            <input type="text" th:field="*{cotationVoie}">
            <span class="text-danger" th:errors="*{cotationVoie}" th:if="${#fields.hasErrors('cotationVoie')}"></span>
            <label for="nbPointsVoie">Nom</label>
            <input type="text" th:field="*{nbPointsVoie}">
            <span class="text-danger" th:errors="*{nbPointsVoie}" th:if="${#fields.hasErrors('nbPointsVoie')}"></span>
            <input type="hidden" th:field="*{secteur.secteurid}" name="secteurid"/>
        </div>
        <input type="submit" value="Modifier">
    </form>

</div>

<footer th:replace="generique :: footer"></footer>

</body>
</html>