<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head th:replace="generique :: head"></head>

<body>
<header th:insert="generique.html :: nav"></header>
<div class="container">
    <H1 class="monTitre" th:text="${site.nomSite}">Nom du SITE</H1>
    <div class="row align-items-center">
        <img class="rounded float-left col-md-3" th:src="@{'/img/' + ${site.photo}}" th:title="${site.nomSite}" alt="..."/>
        <div class="col-sm-12 col-md-6">
            <div class="row justify-content-end">
                <img class="col-sm-6 col-md-3" th:src="@{/img/officiel.png}" alt="site officiel"/>
            </div>
            <P th:text="${site.descriptionSite}"></P>
            <P>Difficulté : de <strong th:text="${site.cotationMin}"></strong> à <strong th:text="${site.cotationMax}"></strong></P>
            <P th:text="${site.region.nomRegion}"></P>
        </div>

    </div>


</div>

<hr>

<footer th:insert="generique.html :: footer"></footer>

<!-- Respecter l'ordre des scripts ; jQuery first, then Popper.js, then Bootstrap JS, puis notre propre script.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
