<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
<head th:replace="generique :: head"></head>

<body>
<header th:replace="generique.html :: nav"></header>
<H1 class="monTitre">Page de gestion des TOPOS</H1>

<div class="container">

    <form action="#" th:action="@{/ajoutertopo}" th:object="${topo}" method="post">
        <label for="nomTopo">Nom</label>
        <input type="text" th:field="*{nomTopo}" id="nomTopo" placeholder="nomTopo">
        <span th:if="${#fields.hasErrors('nomtopo')}" th:errors="*{nomTopo }"></span>
        <label for="descriptionTopo">Description</label>
        <input type="text" th:field="*{descriptionTopo}" id="descriptionTopo" placeholder="descriptionTopo">
        <span th:if="${#fields.hasErrors('descriptionTopo')}" th:errors="*{descriptionTopo}"></span>
        <label for="dateParution">Date parution</label>
        <input type="date" th:field="*{dateParution}" id="dateParution" placeholder="dateParution">
        <span th:if="${#fields.hasErrors('dateParution')}" th:errors="*{dateParution}"></span>
        <label for="disponible">Disponibilité</label>
        <input type="text" th:field="*{disponible}" id="disponible" placeholder="disponible">

        <input type="submit" value="Ajouter topo">
    </form>
</div>

<hr>

<footer th:replace="generique :: footer"></footer>

</body>
</html>