<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="generique :: head"></head>

<body>
<!--<header th:insert="~{generique.html :: nav}"></header>-->

<header th:replace="generique :: nav"></header>
<H1 class="monTitre">Page de LOGIN USER (add-user.html)</H1>

<div class="container">

    <select>
        <option disabled>Please select...</option>
        <option value="apple">Apple</option>
        <option value="banana" th:selected="${mesusers.id==2}")>Banana </option>
        <option value="orange">Orange</option>
        <option value="pear">Pear</option>
    </select>



    <form action="#" method="post" th:action="@{/update/{id} (id=${mesusers.id})}" th:object="${mesusers}">
        <label for="name">Name</label>
        <input id="name" placeholder="Name" th:field="*{name}" type="text">
        <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
        <label for="email">Email</label>
        <input id="email" placeholder="Email" th:field="*{email}" type="text">
        <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
        <input type="submit" value="Sauvegarder">
    </form>

</div>

<hr>

<footer th:replace="generique :: footer"></footer>

<script src="/webjars/jquery/3.3.1/jquery.min.js/" type="text/javascript"></script>
<script src="/webjars/popper.js/1.14.3/popper.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
